<ion-view view-title="关于我们">
  <ion-content style="background-color: rgb(245, 245, 245);">
    <h3 style="text-align: center;margin-top: 20px;">Our  Team</h3>
        <div class="person-list1">
		    <a class="item item-avatar person-info aboutPerson" href="javascript:void(0)" >
			      <img src="http://ihub-media.mgmt.ctripcorp.com/course/WK-XYG00001/1466668944399.png" style="max-width: 90px;max-height: 90px;">
			      <h2 style="color: #fc9720;">石蓬军</h2>
			      <p style="margin-left: 15px;"">来自：市场营销部</p>
			      <p>工作：后端开发</p>
			      <span class="about-person">了解TA</span>
			</a>

        </div>
         <div class="person-list1">
		    <a class="item item-avatar person-info aboutPerson" href="javascript:void(0)" >
			      <img src="http://ihub-media.mgmt.ctripcorp.com/course/WK-XYG00001/1466668944399.png" style="max-width: 90px;max-height: 90px;">
			      <h2 style="color: #fc9720;">罗艺娜</h2>
			      <p style="margin-left: 15px;"">来自：市场营销部</p>
			      <p>工作：前端开发</p>
			      <span class="about-person">了解TA</span>
			</a>

        </div>
        <div class="person-list1">
		    <a class="item item-avatar person-info aboutPerson" href="javascript:void(0)" >
			      <img src="http://ihub-media.mgmt.ctripcorp.com/course/WK-XYG00001/1466668944399.png" style="max-width: 90px;max-height: 90px;">
			      <h2 style="color: #fc9720;">姜婷</h2>
			      <p style="margin-left: 15px;"">来自：市场营销部</p>
			      <p>工作：前端开发</p>
			      <span class="about-person">了解TA</span>
			</a>

        </div>
         <div class="person-list1">
		    <a class="item item-avatar person-info aboutPerson" href="javascript:void(0)" >
			      <img src="http://ihub-media.mgmt.ctripcorp.com/course/WK-XYG00001/1466668944399.png" style="max-width: 90px;max-height: 90px;">
			      <h2 style="color: #fc9720;">金雪梅</h2>
			      <p style="margin-left: 15px;"">来自：机票研发部</p>
			      <p>工作：PO管理</p>
			      <span class="about-person">了解TA</span>
			</a>
        </div>
         <div class="person-list1">
		    <a class="item item-avatar person-info aboutPerson" href="javascript:void(0)" >
			      <img src="http://ihub-media.mgmt.ctripcorp.com/course/WK-XYG00001/1466668944399.png" style="max-width: 90px;max-height: 90px;">
			      <h2 style="color: #fc9720;">刘安迪</h2>
			      <p style="margin-left: 15px;"">来自：机票研发部</p>
			      <p>工作：后端开发</p>
			      <span class="about-person">了解TA</span>
			</a>

        </div>
         <div class="person-list1">
		    <a class="item item-avatar person-info aboutPerson" href="javascript:void(0)" >
			      <img src="http://ihub-media.mgmt.ctripcorp.com/course/WK-XYG00001/1466668944399.png" style="max-width: 90px;max-height: 90px;">
			      <h2 style="color: #fc9720;">于凯</h2>
			      <p style="margin-left: 15px;"">来自：酒店研发部</p>
			      <p>工作：PO管理</p>
			      <span class="about-person">了解TA</span>
			</a>

        </div>
         <div class="person-list1">
		    <a class="item item-avatar person-info aboutPerson" href="javascript:void(0)">
			      <img src="http://ihub-media.mgmt.ctripcorp.com/course/WK-XYG00001/1466668944399.png" style="max-width: 90px;max-height: 90px;">
			      <h2 style="color: #fc9720;">陈剑</h2>
			      <p style="margin-left: 15px;"">来自：酒店研发部</p>
			      <p>工作：后端开发</p>
			      <span class="about-person">了解TA</span>
			</a>

        </div>
        
        
       
        
         <button class="button  button-positive set-login" type="submit"  id="login" style="width: 230px;margin-left: 23%;background-color: #fc9720">了解更多</button>
       
  </ion-content>
   <ion-footer-bar align-title="left" class="">
		<div class="tabs tabs-icon-left">
		  <a class="tab-item" href="#/app/playlists  ">
		    <i class="icon ion-home"></i>
		    首页
		  </a>
		  <a class="tab-item" href="#/app/personCenter">
		    <i class="icon ion-star"></i>
		    收藏
		  </a>
		  <a class="tab-item" href="#/app/personInfo">
		    <i class="icon ion-person"></i>
		    我
		  </a>
		</div>
    </ion-footer-bar>

</ion-view>
