<ion-view view-title="选择页面">
  <ion-content  style="background:rgb(245, 245, 245)">
         <h3 style="text-align: center;margin-top: 30px;">请选择</h3>

          <button class="button choose-single button-positive" type="button"  class="login" style="width: 80%;background: #66C6AD"
           ng-click="jump('#/app/timuList/{{chooseId}}')">单选题
           </button>
          <button class="button choose-single button-positive" type="button"  class="login" style="width: 80%;background: #fc9720 "  
           ng-click="jump('#/app/timuListMore/{{chooseId}}')">多选题
          </button>
          <button class="button choose-single button-positive" type="button"   class="login" style="width: 80%;opacity: 0.2;cursor: not-allowed;" 
            >问答题</button>

           <button class="button choose-single button-positive jqqd" type="button"   class="login" style="height: 50px;width: 40%;font-size: 20px; margin-left: 30%;margin-top: 70px;background: #FA8072" 
           ng-click="submit()">提交问卷</button>

  </ion-content>
</ion-view>
