<ion-view view-title="馆藏查询">
    <ion-content style="">
		   
		    <div class="bar bar-header item-input-inset" style="position: relative;width: 100%;margin-top:30px;margin-bottom: 10px;">
					    <label class="item-input-wrapper" style="">
						    <i class="icon ion-ios-search placeholder-icon"></i>
						    <input type="search" placeholder="作者/书名">
						</label>
					    <button  type="button"  class="set-all-list l1" ng-click="search()" style="height:42px;">查询 </button> 			 
			</div>
			<!-- 循环列表 -->
			<ion-list style="display: block;" id="ion-list-one">			        
					    <ion-item ng-repeat="value in data" >			       				       
							    <div class="item item-avatar" style="padding: 0px;">					        
								        <img ng-src="{{value.img}}">    
								    <div class="set-library-content">
	                                     <div class="name-top">{{value.bookName}}</div>
	                                     <div class="author-bottom">
	                                        <span style="margin-right: 0px;color:#ccc;">作者：</span>{{value.author}}
                                            <button  type="button"  class="set-all-list l1" style="height:30px;height: 30px;line-height: 1px;" ng-click="showDetail($index)">查看详情 </button>
                                            <button  type="button"  class="set-all-list l1" ng-click="addCurrentBook($index)" style="height:30px;height: 30px;line-height: 1px;">加入书库 </button>
	                                     </div>
								    </div>							       
								</div>							
					    </ion-item>					     
			</ion-list> 
    </ion-content>
    <ion-footer-bar align-title="left" class="">
		<div class="tabs tabs-icon-left" style="height: 50px;background: #3D3D4F;color:#fff;">
		 <a class="tab-item" >
		    <i class="icon ion-map"></i>
		    综合
		  </a>
		  <a class="tab-item" >
		    <i class="icon ion-pin"></i>
		    筛选
		  </a> 
		  <a class="tab-item">
		    <i class="icon ion-heart"></i>
		    欢迎度排序
		  </a>
		</div>
    </ion-footer-bar>
</ion-view>
