<ion-view view-title="我的图书馆">
   <ion-content >
		<!-- 设置第一个div -->
		<div class="mb_first">
			  <div class="mb_left">
			  	 <a class="a_info" href="#" >
		    	     <i class="ion ion-card " style="font-size:50px;margin-top:60px;"></i>
		    	     <p class="d_common">证件信息 </p>
		    	 </a>
			  </div>
			  <div class="mb_right">
			  	   <div class="c_password">
			  	   	    <div class="l_pass">
			  	   	    	<a class="a_info" href="#" >
					    	     <i class="ion ion-ios-paper " style="font-size:40px;margin-top:20px;margin-left:-10px"></i>
					    	     <p class="d_common_size">浏览历史</p>
					    	</a> 
			  	   	    </div>
			  	   	    <div class="l_command">
			  	   	    	<a class="a_info" href="#" >
					    	     <i class="ion ion-ios-alarm " style="font-size:40px;margin-top:20px;margin-left:-10px"></i>
					    	     <p class="d_common_size">读者荐购</p>
					    	</a> 
			  	   	    </div>
			  	   </div>
			  	   <div class="c_contact">
			  	   	    <a class="a_info" href="#" >
					    	     <i class="ion ion-ios-medkit " style="font-size:40px;margin-top:20px;margin-left:-10px"></i>
					    	     <p class="d_common_size m_20">我的订阅</p>
					    </a> 
			  	   </div>
			  </div> 
		</div>
		<!-- 设置第二个div的布局 -->
		<div class="mb_first">
			  <div class="mb_left" style="background: #F75B60">
			  	 <a class="a_info" href="#" >
		    	     <i class="ion ion-android-list " style="font-size:50px;margin-top:60px;"></i>
		    	     <p class="d_common">我的文献</p>
		    	 </a>
			  </div>
			  <div class="mb_right">
			  	   <div class="c_password">
			  	   	    <div class="l_pass">
			  	   	    	<a class="a_info" href="#" >
					    	     <i class="ion ion-social-windows " style="font-size:40px;margin-top:20px;margin-left:-10px"></i>
					    	     <p class="d_common_size">已借图书</p>
					    	</a> 
			  	   	    </div>
			  	   	    <div class="l_command">
			  	   	    	<a class="a_info" href="#" >
					    	     <i class="ion ion-android-chat " style="font-size:40px;margin-top:20px;margin-left:-10px"></i>
					    	     <p class="d_common_size">超期图书</p>
					    	</a> 
			  	   	    </div>
			  	   </div>
			  	   <div class="c_contact">
			  	   	    <a class="a_info" href="#" >
					    	     <i class="ion ion-android-chat " style="font-size:40px;margin-top:20px;margin-left:-10px"></i>
					    	     <p class="d_common_size m_20">续借图书</p>
					    </a> 
			  	   </div>
			  </div> 
		</div>
		<div></div>

   </ion-content>
   <ion-footer-bar align-title="left" class="">
		<div class="tabs tabs-icon-left" style="height: 50px;background: #3D3D4F;color:#fff;">
		 <a class="tab-item" href="#/app/correct">
		    <i class="icon ion-star"></i>
		    收藏
		  </a>
		  <a class="tab-item" href="#/app/playlists  ">
		    <i class="icon ion-home"></i>
		    首页
		  </a> 
		  <a class="tab-item" href="#/app/set">
		    <i class="icon ion-gear-b"></i>
		    设置
		  </a>
		</div>
    </ion-footer-bar>
</ion-view>
