<ion-view view-title="数字资源">
  <ion-content >
		<!-- 第一个div -->
		<div class="mb_first">
			  <div class="mb_left" style="height:100px;background:#64B75B ">
			  	    <a class="a_info" href="#" >
			    	     <i class="ion ion-ios-skipforward " style="font-size:40px;margin-top:20px;"></i>
			    	     <p class="d_common">公开课 </p>
		    	   </a>
			  </div>
			   <div class="mb_left" style="height:100px;background:#64B75B">
			  	    <a class="a_info" href="#" >
			    	     <i class="ion ion-headphone " style="font-size:40px;margin-top:20px;"></i>
			    	     <p class="d_common">有声读物 </p>
		    	   </a>
			  </div>			  
		</div>
		<!-- 第二个div -->
		<div class="mb_first">
			  <div class="mb_left" style="height:100px;background:#64B75B;margin-top: 10px; ">
			  	    <a class="a_info" href="#" >
			    	     <i class="ion ion-play " style="font-size:40px;margin-top:20px;margin-left: -8px;"></i>
			    	     <p class="d_common">视频 </p>
		    	   </a>
			  </div>
			   <div class="mb_left" style="height:100px;background:#64B75B;margin-top: 10px;">
			  	    <a class="a_info" href="#" >
			    	     <i class="ion ion-ios-book-outline " style="font-size:40px;margin-top:20px;"></i>
			    	     <p class="d_common" style="margin-left: 80px;">报纸 </p>
		    	   </a>
			  </div>			  
		</div>
		<!-- 第二个div -->
		<div class="mb_first">
			  <div class="mb_left" style="height:100px;background:#64B75B;margin-top: 10px; ">
			  	    <a class="a_info" href="#" >
			    	     <i class="ion ion-plus " style="font-size:40px;margin-top:20px;"></i>
			    	     <p class="d_common">添加应用 </p>
		    	   </a>
			  </div>
			  		  
		</div>

  </ion-content>
   <ion-footer-bar align-title="left" class="">
		<div class="tabs tabs-icon-left" style="height: 50px;background: #3D3D4F;color:#fff;">
		 <a class="tab-item" href="#/app/correct">
		    <i class="icon ion-star"></i>
		    收藏
		  </a>
		  <a class="tab-item" href="#/app/playlists  ">
		    <i class="icon ion-home"></i>
		    首页
		  </a> 
		  <a class="tab-item" href="#/app/set">
		    <i class="icon ion-gear-b"></i>
		    设置
		  </a>
		</div>
    </ion-footer-bar>

</ion-view>
