<!-- This is the user account view -->

<ion-view view-title="<img class='title-image' src='img/logo.png' style='width: 94px;' />">
  <ion-content class="account">
		<div class="list">
		  <div class="item item-divider"></div>

	    <a class="item item-avatar person-info" href="#">
	      <img src="http://ihub-media.mgmt.ctripcorp.com/course/WK-XYG00001/1466668944399.png">
	      <h2>Tammy</h2>
	      <p>Hello  EveryOne</p>
	    </a>

		  <div class="item item-divider"></div>

		  <a class="item item-icon-left person-info" href="#">
				<i class="icon ion-ios-heart assertive"></i>
		        <span  class="set-marginLeft-200">我的收藏</span>
		      
		  </a>

		  <div class="item item-divider"></div>

		  <a class="item item-icon-left person-info" href="#">
				<i class="icon ion-social-usd calm"></i>
		        <span  class="set-marginLeft-200">我的Q币</span>
		  </a>
		  <a class="item item-icon-left person-info" href="#">
				<i class="icon ion-forward calm"></i>
		        <span  class="set-marginLeft-200">分享好友</span> 
		  </a>

		  <div class="item item-divider"></div>

		  <a class="item item-icon-left person-info" href="#/app/set">
				<i class="icon ion-ios-gear positive"></i>
		        <span  class="set-marginLeft-200">设置</span>
		  </a>
	    <ion-toggle class="item item-icon-left person-info" ng-model="nightMode.nightModeOn">
				<i class="icon ion-ios-moon dark"></i>
	            <span  class="set-marginLeft-200">夜间</span>
	    </ion-toggle>

		</div>
  </ion-content>
</ion-view>
