<ion-view view-title="<p style='width:100px;color:#fff;margin-left: 60px;'><span style='font-weight:bold;'>江苏科技大学</span> 移动图书馆">

  <ion-content style="background: rgb(245, 245, 245)">		
		    <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000>
				  <ion-slide>
				   
				    <img ng-src="./img/66.jpg" style="height:230px;width:100%" alt="" src="./img/66.jpg">
				   
				  </ion-slide>
				  <ion-slide>
				    
				    <img ng-src="./img/77.jpg" style="height:230px;width:100%" alt="" src="./img/77.jpg">
				  </ion-slide>
				  <ion-slide on-slide-changed="slideHasChanged(index)">
				   
				    <img ng-src="./img/55.jpg" style="height:230px;width:100%" alt="" src="./img/55.jpg">
				  </ion-slide>
		    </ion-slide-box>
		   <!--   搜索栏 -->
		   <!--  <div class="bar bar-header item-input-inset" >
			    <label class="item-input-wrapper">
			    <i class="icon ion-ios-search placeholder-icon"></i>
			    <input type="search" placeholder="Search">			 
		    </div>  -->

		   <!--  设置四个div -->
		    <div class="content-left-item1" style="text-align: center;">
		    	 <a class="left-item-t1" href="#/app/personInfo">
		    	     <i class="ion ion-android-person  set-icon"></i>
		    	     <p class="person-padding">个人中心 </p>
		    	 </a>
		    	 <a class="right-item-t1" href="#/app/browse">
		    	     <i class="ion  ion-ios-browsers set-icon"></i>
		    	     <p class="person-padding background-tp">投票平台 </p>
		    	 </a>
		    </div>
		    <div class="content-left-item1 item1" style="text-align: center;">
		    	 <a class="left-item-t1" style="margin-top:4px;background: #8ED168" href="#/app/paihangbang">
		    	     <i class="ion  ion-social-buffer set-icon"></i>
		    	     <p class="person-padding">排行榜 </p>
		    	 </a>
		    	 <a class="right-item-t1" style="margin-top:4px;background: #FCCB54" href="#/app/recommand">
		    	     <i class="ion  ion-android-happy set-icon"></i>
		    	     <p class="person-padding background-tp">意见反馈 </p>
		    	 </a>
		    </div>

		     <div class="content-left-item1 item1" style="text-align: center;">
		    	 <a class="left-item-t1" style="margin-top:4px;background: #54B6E3;width: 100%;height: 80px;" href="#/app/aboutUs">
		    	     <img  src="">
		    	     <i class="ion  ion-person-stalker " style="margin-top: 30px;font-size: 22px;"></i>
		    	     <span class="person-padding">关于我们 </span>
		    	 </a>
		    </div>

  </ion-content>

   <ion-footer-bar align-title="left" class="">
		<div class="tabs tabs-icon-left">
		  <a class="tab-item" href="#/app/playlists  ">
		    <i class="icon ion-home"></i>
		    首页
		  </a>
		  <a class="tab-item" href="#/app/personCenter">
		    <i class="icon ion-star"></i>
		    收藏
		  </a>
		  <a class="tab-item" href="#/app/personInfo">
		    <i class="icon ion-person"></i>
		    我
		  </a>
		</div>
    </ion-footer-bar>


</ion-view>
