<ion-view view-title="<p style='width:100px;color:#fff;margin-left: 60px;'><span style='font-weight:bold;'>江苏科技大学</span> 移动图书馆">

  <ion-content style="background: rgb(245, 245, 245)">		
		    <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000>
				  <ion-slide>
				   
				    <img ng-src="./img/66.jpg" style="height:230px;width:100%" alt="" src="./img/66.jpg">
				   
				  </ion-slide>
				  <ion-slide>
				    
				    <img ng-src="./img/77.jpg" style="height:230px;width:100%" alt="" src="./img/77.jpg">
				  </ion-slide>
				  <ion-slide on-slide-changed="slideHasChanged(index)">
				   
				    <img ng-src="./img/55.jpg" style="height:230px;width:100%" alt="" src="./img/55.jpg">
				  </ion-slide>
		    </ion-slide-box>
		   <!--   搜索栏 -->
		   <!--  <div class="bar bar-header item-input-inset" >
			    <label class="item-input-wrapper">
			    <i class="icon ion-ios-search placeholder-icon"></i>
			    <input type="search" placeholder="Search">			 
		    </div>  -->

		   <!--  设置四个div -->
		    <div class="content-left-item1" style="text-align: center;">
		    	 <a class="left-item-t1" href="#/app/library_search" style="background: #F5DE42;">
		    	     <i class="ion ion-search  set-icon"></i>
		    	     <p class="person-padding">馆藏查询 </p>
		    	 </a>
		    	 <a class="left-item-t1" href="#/app/MyLibrary" style="background: #72CCC5;">
		    	     <i class="ion  ion-android-person set-icon"></i>
		    	     <p class="person-padding background-tp">我的图书馆 </p>
		    	 </a>
		    	 <a class="left-item-t1" href="#/app/messageForm" style="background: #6F8FE4;">
		    	     <i class="ion  ion-chatbox-working set-icon"></i>
		    	     <p class="person-padding background-tp">消息通知 </p>
		    	 </a>
		    </div><br>
		    <div class="content-left-item1" style="text-align: center;">
		    	 <a class="left-item-t1" href="#/app/numberSource" style="background: #F75B60;">
		    	     <i class="ion ion-monitor  set-icon"></i>
		    	     <p class="person-padding">数字资源 </p>
		    	 </a>
		    	 <a class="left-item-t1" href="#/app/bookOrder" style="background: #64B75B;">
		    	     <i class="ion  ion-ios-browsers set-icon"></i>
		    	     <p class="person-padding background-tp">图书预订 </p>
		    	 </a>
		    	 <a class="left-item-t1" href="#/app/newBookRecommand" style="background: #FEC752;">
		    	     <i class="ion  ion-ios-book set-icon"></i>
		    	     <p class="person-padding background-tp">新书推荐 </p>
		    	 </a>
		    </div>

		    <div class="content-left-item1" style="text-align: center;">
		    	 <a class="left-item-t1" href="#/app/shejiao" style="background: #BADA4B;">
		    	     <i class="ion ion-ios-people   set-icon"></i>
		    	     <p class="person-padding">社交 </p>
		    	 </a>
		    	  <a class="left-item-t1" href="#/app/shejiao" style="background: #6F8FE4;">
		    	     <i class="ion ion-ios-keypad  set-icon"></i>
		    	     <p class="person-padding">其它 </p>
		    	 </a>
		    	
		    </div><br><br>

  </ion-content>

   <ion-footer-bar align-title="left" class="">
		<div class="tabs tabs-icon-left" style="height: 50px;background: #3D3D4F;color:#fff;">
		 <a class="tab-item" href="#/app/correct">
		    <i class="icon ion-star"></i>
		    收藏
		  </a>
		  <a class="tab-item" href="#/app/playlists  ">
		    <i class="icon ion-home"></i>
		    首页
		  </a> 
		  <a class="tab-item" href="#/app/set">
		    <i class="icon ion-gear-b"></i>
		    设置
		  </a>
		</div>
    </ion-footer-bar>


</ion-view>
