<ion-view view-title="意见反馈">
  <ion-content style="background: #e3e7e7;">
        <h3 style="text-align: center;margin-top: 70px;">
           
            <span style="position: relative;top: 30px;">反馈我们</span>
        </h3>
        <div class="recommand-content">       	
           <p style="line-height: 30px;padding: 10px;"> <span style="margin-left: 15px;">为加强和规范投票APP的</span>建设与管理，满足用户的需求，
           现对APP投票产品栏目设置、信息公开等方面征求广大用户意见。
    请您抽出宝贵时间，将意见和建议及时反馈给我们，我们将真诚听取您的意见和建议，进一步完善App功能。谢谢您的参与！
           </p>
            <button class="button  button-positive set-login" type="submit" ng-click="writeViews()"  id="login" style="width: 230px;margin-left: 14%;">给我留言</button>
        </div>
  </ion-content>
</ion-view>
