<ion-view view-title="题目列表">
  <ion-content style="background: #e3e7e7;">
    <div  class="swipper-left-right">
        <ion-slide-box show-pager="false"  on-slide-changed="onSlideChanged(index)" active-slide="currentIndex">
			<ion-slide  class="set-container" ng-repeat="value in  objData"  repeat-done="repeatDone()" >
			    <div class="swiper-slide swiper-slide-duplicate swiper-slide-active"  style="width: 349px; margin-right: 30px;">
					<div class="scores">
						<h3>{{data.title}}</h3>
						<div class="f"><span id="span-text">{{$index+1}}</span>{{value.title}}</div>
						<div class="choose" >
							<div class="input" ng-repeat="(key,value2) in value.items">
							   <label for="26">
							      <input type="checkbox" name="radio{{$parent.$index}}" class="radio"  
							      ng-model = "selected[$parent.$index][$index]"
							     > 
							      <span  style="margin-left: 30px;">{{value2}}</span> 
							   </label>
							</div>														
						</div>
					</div>
				</div>
			</ion-slide>
			<!-- 问卷结束 -->
			<ion-slide  class="set-container" style="margin-top: 100px">
			    <div class="swipers">
					<div class="con con1">
					
						<div class="smile">
							<p>非常感谢您的配合!</p>
							<p>我们将赠送您100个lamoda商城积分，谢谢!</p>
						</div>

					</div>
					<!-- 提交题目成功，跳转到问卷列表的界面 -->
					<a href="javascript:void(0)" class="tijiao" ng-click="submitSuccess()">保存题目</a>
				</div>
			</ion-slide>
						 
        </ion-slide-box>
        <p style="float: right;margin-right: 5px;color: #666;">当前页: <span>{{currentIndex+1}}</span>/<span>{{serveLength}}</span></p>
        <div class="preNexts">
				<div class="  btn-left" id="btn-left" ng-click="startSlide()">
				        <div class="pre ion  ion-arrow-left-a "></div>
				        <span class="set-pre">上一题</span>
				</div>
				<div class=" btn-right" ng-click="nextSlide()">
				        <div class="next ion  ion-arrow-right-a "></div>
				         <span class="set-next">下一题</span>
				</div>
	    </div>
	</div>
  </ion-content>
</ion-view>
