.item {
    padding: 2px;
}
.set-library-content{
    float: right;
    margin-left: 0px;
    width: 80%;
    height: 66px;
   
}
.name-top{
    font-size: 15px;
    height: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 4px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sys_set{
    margin-top: 30px;
    margin-left: 20px;
    color: #666;
    font-size: 14px;
}
.mb_left{
    width:46%;
    
    height: 200px;
    margin-top: 30px;
    margin-left: 10px;
    float: left;
    background: #72CCC5;
}
.mb_right{
    float:right ;
    width: 46%;
    height: 200px;
    margin-top: 30px;
   
    margin-right: 10px;
}
.mb_right .c_password{
    width: 100%;
    height: 100px;
   
    margin: 0px;
}
.mb_right .c_password .l_pass{
    width: 47%;
    height: 100%;
    float: left;
    background: #78BFEF;
}
.mb_right .c_password .l_command{
    width: 47%;
    height: 100%;
    background: #FEC752;
    float: right;
}
.mb_right .c_contact{
    width: 100%;
    height: 90px;
    background: #BADA4B;
    margin-top: 10px;
}
.a_info {
    color: #fff;
    font-size: 20px;
    margin-left: 45%;

}
.d_common {
   margin-left: 35%;
} 
.d_common_size {
    font-size: 15px;
    margin-left: 15px;
}
.m_20 {
    margin-left: 60px;
}

#book {
    background: #F5F0B6;
}
#book h2 {
    height: 39px;
    margin-top: 21px;
    font-size: 16px;
    padding: 10px;
    background: url("../img/bookshelftop.jpg") no-repeat left top;
    color: #000!important;
}
#book ul {
    float: left;
    width: 100%;
    height: auto;
    margin-top: -10px;
    padding: 0 0 0 10px;
    background: url("../img/bookshelfmiddle.jpg") repeat-y left top;
}
ol, ul {
    list-style: none;
}
#book ul li {
    height: 107px;
    line-height: 106px;
    vertical-align: bottom;
    width: 110px;
    float: left;
    margin: 17px 12px 0px;
    padding-bottom: 19px;
}
.clear{
    clear: both;
}
.icon_size{
    font-size: 15px;
}
.re_con{
    margin-left: 100px;
    line-height: 7px;
    margin-top: 5px;
}
.taggle{
    position: absolute;
    background: red;
    top: 270px;
    right: 35px;
    color: #fff;
    border-radius: 15px;
    padding: 7px;
}
.message{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 290px;
}
.color{
    color: #6F8FE4;
}
.wop{
    margin-top: 30px;
    padding: 3px;
    
}
.lb_position{
    float: left;
    margin-right: 6px;
    background: #F75B60;
    padding: 6px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin-right: 6px;
}
table, caption, tbody, tfoot, thead, tr, th, td{
     border: 1px solid;
     padding: 4px;
}
.item-reorder .button.icon {
    color: green;
    font-size: 16px;
}
.submit_order{
    width: 300px;
    margin-left: 50px;
    margin-top: 10px;
}

.choose_book{
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}